/* FONTS */
@font-face {
	font-family: 'Zain';
	font-style: normal;
	font-weight: 200;
	font-display: block;
	/* font-display: swap; */
	src: url(/_fonts/zain-200-normal.woff2) format('woff2');
}
@font-face {
	font-family: 'Zain';
	font-style: normal;
	font-weight: 400;
	font-display: block;
	/* font-display: swap; */
	src: url(/_fonts/zain-400-normal.woff2) format('woff2');
}
@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 400;
	font-display: block;
	src: url(/_fonts/ubuntu-400-normal.woff2) format('woff2');
}
:root {
	--white-1: #faf7f2;
	--red-1: #ff0047;
	--dark-gray-1: #3e3e3e;
	--violet-1: #b77fb7;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* CSS RESET */
h1, h2, h3 {
	font-size: unset;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
	font-weight: unset;
}
a {
	color: unset;
	text-decoration: none;
}
ul, li {
	list-style: none;
	text-align: unset;
}
/**/
/* TEXT FORMAT */
.str-stl-1 {
	font-family: 'Zain', sans-serif;
	font-weight: 200;
	font-style: normal;
	color: #fff;
}
.str-stl-2 {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #fff;
}
.str-stl-3 {
	font-family: 'Zain', sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #fff;
}
.ttl-edge {
	margin: 2rem 0 3rem 0;
}
.ttl-frmt-1 {
	font-family: 'Zain', sans-serif;
	font-weight: 400;
	font-style: normal;
	color: var(--dark-gray-1);
}
.txt-stl-1 {
	font-family: 'Zain', sans-serif;
	font-weight: 400;
	font-style: normal;
}
.txt-stl-2 {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	font-style: normal;
}
/* PAGE */
body {
	background: var(--white-1);
}
.pg-layout {
	width: 100%;
	/* max-width: 1600px; */
	margin: 0 auto;
	/* SORT BY AREAS */
	display: grid;
	grid-gap: 0;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, auto);
	grid-template-areas:
		"header header header"
		"main main main"
		"sidebar sidebar sidebar"
		"footer footer footer";
}
/* HEADER NAVBAR */
.stickyBar {
	background: var(--white-1) !important;
}
.hdr-top-mn {
	margin: 0 auto;
	width: 100%;
	/* max-width: 1500px; */
	height: 4.7vw;
	/* max-height: 70px; */
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	position: fixed;
	background: linear-gradient(270deg, rgb(120 0 100 / 77%), rgb(140 0 0 / 70%));
	/* background-color: rgba(0, 0, 0, 0.3); */
	box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
	/* border-radius: 100px; */
	z-index: 999;
	transition: all 1s ease-out;
}
.hdr-top-mn a {
	/* text-decoration: none; DELETE */
}
.hdr-top-mn > div {
	margin: 0 auto;
	width: 90%;
	display: grid;
	grid-gap: 0;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto;
	grid-template-areas:
		"header-logo header-navbar";
	align-items: center;
}
#hdr-ttl {
	font-family: 'Zain', sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.7rem;
	color: #fff;
}
.hdr-top-mn > div > div {
	grid-area: header-logo;
}
.hdr-top-mn > div > nav {
	grid-area: header-navbar;
}
.hdr-top-mn > div > nav > ul {
	display: flex;
	justify-content: flex-end;
	/* flex-direction: row; */
}
.hdr-top-mn > div > nav > ul > li {
	padding: 0 1.2vw;
}
.hdr-top-mn > div > nav > ul > li > a > span {
	line-height: 0;
}
.mn-txt-1 {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 200;
	font-style: normal;
	font-size: 1rem;
	color: #fff;
}
	/* DYNAMIC UNDERLINE */
.mn-txt-1::after {
	content: '';
	display: block;
	width: 0;
	height: 0.25rem;
	/* margin-bottom: -10%; */
	background: #57a1cd;
	transition: 0.3s cubic-bezier(.03,.3,.4,.96);
	transform: skew(-10deg);
}
.mn-txt-1:hover::after {
	width: calc(100% + 0.25rem);
}
	/* FORMAT CHANGES */
.chng-c-1 {
	color: var(--dark-gray-1) !important;
}
/**/
/* MAIN */
main {
	margin: 0 auto;
	/* max-width: 1600px; */
	min-height: 3000px;
	background-color: var(--white-1);
	grid-area: main;
}
/* SIDEBAR */
.sidebar {
}
/**/
/* FOOTER */
footer {
	height: 30rem;
	display: flex;
	align-items: center;
	background-image: url(/img/bg/glass-cross-1-m.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	text-align: center;
	grid-area: footer;
}
footer > div {
	width: 95%;
	height: 90%;
	margin: 0 auto;
	background: #3e3e3e73;
}
/**/
/* RESPONSIVE */
